.fancy {
    color: #32CD32;
}

.fluid-col-grid {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 1rem;

        list-style: disc;

        li:before {
            content: ''
        }
    }
}
